
.header{
    display: flex;
    flex-direction: row;
    background-color: #1F2937;
    color: white;
    justify-content: space-around;
}
.links{
    display: flex;
    gap: 24px;
    align-items: center;
    font-size: 18px;
    color: #E5E7EB;
    flex: 0 0 auto;
}
#logo{
    height: 50px;
}
.headerlogo{
    font-size: 24px;
    font-weight: 600;
    color: #F9FAF8;
    display: flex;
    flex: 0 0 auto;
}
.introduction{
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 100px;
    padding: 60px;
}
.bigparagraph{
    font-size: 48px;
    font-weight: bold;  
    padding:0 0 16px 0;
    flex-shrink: 0;
}
.signuptext{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    flex: 0 0 400px;
}
a{
    text-decoration: none;
    color: white;
    padding: 8px 21px;
    margin-left: -16px;
}
.smallparagraph{
    font-size: 18px;
    color: #E5E7EB;
}
.button{
    background-color: #3882F6;
    border:none;
    text-align: center;
    display: inline-block;
    border-radius: 12px;
    max-width: 75px;
    margin-top: 13px;
    padding: 8px 16px;
}
.hearty{
    border-style: none;
    min-height: 300px;
    min-width: 300px;
}
/* starting info section here */
.headingtext{
    font-size: 36px;
    color: #1F2937;
    font-weight: bolder;
    margin-bottom: 35px;
    text-align: center;
}
.boxes{
    display: flex;
    justify-content: center;
    gap: 32px;
    flex-wrap: wrap;
}
img{
    max-height: 200px;
    min-width: 200px;
    border-radius: 12px;
    border: #000000;
    border-style: groove;
}
.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 35px;
}
.text{
    text-align: center;
    font-size: 24px;
    color: #000000;
}
/* starting quote section */
.quotebox{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
}
.quote{
    font-size: 36px;
    font-weight: lighter; 
}
.name{
    font-weight: 600;
    font-size: 24px;
}
.quoter{
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
    justify-content: flex-end;
    padding: 50px;
}
.thing{
    display: flex;
}
.heartt{
    border-style: none;
    padding-top: 10px;
    min-width: 50px;
    max-width: 50px;
}

/* starting the blue thing section */
.idk{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 500px;
    padding: 50px;
}
.signupg{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 50px;
    border-radius: 15px;
}
.buttoner{
    align-self: center;
}
.buttontext{
    border: #F9FAF8;
    border-style: groove;
    border-radius: 12px;
    padding: 10px 20px;
    
}
.signupheading{
    font-size: 18px;
    font-weight: bolder;
}
.idktext{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
/* last seciton here easy peasy */

.bottom{
    display: flex;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
body {
    margin: 0;
    padding: 0;
}



/* to do - i wanna chance the header and the hearty to move together with eachother */
